<?xml version="1.0"?>
<robot name="six_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- <xacro:include filename="./arm.xacro" /> -->
    <xacro:include filename="$(find mybot_description)/urdf/arm.xacro" />

    <!-- /////////////////////////////////   Gazebo   ////////////////////////////////////// -->
    <gazebo reference="arm_base_link">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="link1">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="link2">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="link3">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="link4">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="link5">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="link6">
        <material>Gazebo/Blue</material>
    </gazebo>
    <gazebo reference="gripper_finger_link1">
        <material>Gazebo/White</material>
    </gazebo>
    <gazebo reference="gripper_finger_link2">
        <material>Gazebo/White</material>
    </gazebo>


    <xacro:macro name="ros2_control_joint" params="joint_name">
        <joint name="${joint_name}">
            <command_interface name="position">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>
    </xacro:macro>

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <xacro:ros2_control_joint joint_name="joint1" />
        <xacro:ros2_control_joint joint_name="joint2" />
        <xacro:ros2_control_joint joint_name="joint3" />
        <xacro:ros2_control_joint joint_name="joint4" />
        <xacro:ros2_control_joint joint_name="joint5" />
        <xacro:ros2_control_joint joint_name="joint6" />
        <xacro:ros2_control_joint joint_name="finger_joint1" />
    </ros2_control>

    <!-- gazebo_ros2_contril -->
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find mybot)/config/ros2_controllers.yaml</parameters>
            <robot_param_node>robot_state_publisher</robot_param_node>
        </plugin>
    </gazebo>
</robot>